.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    grid-auto-rows: 1fr;
    justify-content: flex-start;
}

.photo-item {
    display: flex;
    flex-direction: column;
    max-width: 150px;
}

.photo-item div {
    max-height: 100px;
}

.photo-item div img {
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    object-fit: cover;
    object-position: top;
}

.photo-item svg{
    max-height: 100px;
}

.photo-item button {
    width: 100%;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 0;
}

.add-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--grey-dark);
    cursor: pointer;
    min-height: 134px;
}

.add-photo span {
    font-size: 24px;
    color: #999;
}

.add-photo p {
    color: #999;
}